* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
}
    
/*------------------ Desktop Landscape ------------------*/

@media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {

    body {
        margin: 30px;
        padding: 0;
        background: #fff;
        color: #b1b1b1;
        font-family: century-gothic, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
    .container {
        display: grid;
        grid-template-columns: minmax(5ch, 15ch) 1fr;
        grid-template-rows: 60px 1fr 1fr;
        grid-template-areas: 
        "gong-logo image" 
        "gong-name image" 
        "gong-details image" 
        ;
        grid-gap: 20px;
        height: 90vh;
    }
    .gongLogo {
            grid-area: gong-logo;
            align-self: start;
            justify-self: left;
    }
    .gongLogo img {
            width: 60px;
            }
    .gongName {
        grid-area: gong-name;
        align-self: start;
        justify-self: left;
    }
    .picture {
        grid-area: image;
        align-self: start;
        justify-self: center;
    }
    .picture img {
        width: auto;
        height: 90vh;
    }
    h1 {
        font-weight: 200;
        font-size: 2.5em;
        line-height: .8em;
        text-transform: uppercase;
        margin-top: -6px;
        margin-bottom: 10px;
        letter-spacing: -.08em;
    }
    .menu {
        font-size: .5em;
        line-height: 1.5em;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a, a:hover, a:visited {
        color: #b1b1b1;
        text-decoration: none;
    }
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      .dropdown-container {
          max-width: 800px;
          min-width: 300px;
          overflow: hidden;
      }
      .dropdown-container header {
          cursor: pointer;
      }
      .dropdown-container .expand {
          float: right;
          transform: rotate(45deg);
          font-size: 1.8em;
          transition: transform 350ms ease-in-out;
      }
      .dropdown-container.open .expand{
          transform: rotate(0);
      }
      .dropdown-container article {
          max-height: 0px;
          overflow: hidden;
          line-height: 1.6; 
          transition: max-height 350ms ease-in-out;
      }
      
      /* padding can't be on article element because it won't collapse properly, add wrapper around contents */
      .dropdown-container .article-inner {
          padding: 1rem;
      }

}
